.body-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #666666;
}
.table{
    width: 100%;
     background-color: #666666;
}
.MuiDataGrid-root,
.MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-cellContent,
.PrivateSwitchBase-input,
.MuiSvgIcon-root,
.MuiDataGrid-selectedRowCount,
.MuiTablePagination-selectLabel,
.css-pdct74-MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows,
.MuiInputBase-root,
.MuiTablePagination-select {
    color: white;
}
/* .MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-menuIcon,
.MuiCheckbox-colorSecondary.Mui-checked,
.MuiCheckbox-colorSecondary.Mui-checked:hover,
.MuiCheckbox-colorSecondary.Mui-checked.Mui-focusVisible,
.MuiCheckbox-colorSecondary:hover {
    color: white;
} */

.custom-scrollbar-container {
    width: 100%;
    height: 400px;
    /* Adjust this value as needed */
    position: relative;
    overflow: auto;
}

.custom-scrollbar-container::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.custom-scrollbar-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.custom-scrollbar-container::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}

.custom-scrollbar-container::-webkit-scrollbar-corner {
    background: transparent;
}


/* AdvanceSearch */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    backdrop-filter: blur(8px);
    /* Apply blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Set a high z-index to ensure it appears on top */
}

/* CSS for the AdvanceSearch component */
.advance-search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}