.body-container{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    /* margin-top: 20px; */
    background-color: #a9a9a9;
}
.table{
    width: 100%;
     background-color: #a9a9a9;
}
.MuiDataGrid-root,
.MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-cellContent,
.PrivateSwitchBase-input,
.MuiSvgIcon-root,
.MuiDataGrid-selectedRowCount,
.MuiTablePagination-selectLabel,
.css-pdct74-MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows,
.MuiInputBase-root,
.MuiTablePagination-select {
    color: white;
}
/* .MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-menuIcon,
.MuiCheckbox-colorSecondary.Mui-checked,
.MuiCheckbox-colorSecondary.Mui-checked:hover,
.MuiCheckbox-colorSecondary.Mui-checked.Mui-focusVisible,
.MuiCheckbox-colorSecondary:hover {
    color: white;
} */

.custom-scrollbar-container {
    width: 100%;
    height: 400px;
    /* Adjust this value as needed */
    position: relative;
    overflow: auto;
}

.custom-scrollbar-container::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.custom-scrollbar-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.custom-scrollbar-container::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}

.custom-scrollbar-container::-webkit-scrollbar-corner {
    background: transparent;
}


/* AdvanceSearch */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    backdrop-filter: blur(8px);
    /* Apply blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Set a high z-index to ensure it appears on top */
}

/* CSS for the AdvanceSearch component */
.advance-search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invoiceList{
    color: #db4437;
    font-size: x-large;
    font-weight: 600;
}

.body-topdiv{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.body-topdivright{
    display: flex;
}

.advance-search{
    max-width: 87px;
    background-color: #8fd163;
     border: none;
     cursor: pointer;
     color: #787878;
    
}

.advance-search:hover{
    background-color: #6ba047;
}

.search-box{
    height: 30px;
    width: 180px;
    padding: 2px 5px;
    border-radius: 4px;
    border: none;
     display: flex;
     align-items: center;
      margin-right: 15px;
}

.search-box::placeholder {
    text-align: center;
}

.body-topdivleft{
    display: flex;
}

.homePage, 
.addData,
.analyticalView {
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.refreshData,
.editData,
.deleteData,
.predictButton
{
    background-color: #ff963b;
    margin-right: 15px;
    height: 30px;
    border: none;
    width: 70px;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

.refreshData{
    width: 100px;
}

.body-bottomdiv{
    padding: 0 20px;
     position: relative;
     bottom: 40px;
     width: fit-content;
}

.refreshData:hover,
.editData:hover,
.deleteData:hover,
.predictButton:hover{
    background-color: #f9831c;
}

.analyticalViewDiv{
    display: flex;
    justify-content: space-around;
}

.addDataSection-grid{
    display: flex;
}

.addDataSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.addDataSection-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.addDataSection-grid div {
    display: flex;
    flex-direction: column;
}

.addDataSection-grid input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 6px 0;
}

.addDataSectionButtons{
    display: flex;
}

.addDataSectionButtons button{
    width: 100%;
    margin: 6px 2px;
    height: 36px;
    border: none;
    border-radius: 4px;
}

.addDataSectionSubmit{
color: white;
background-color: #fc7500;
cursor: pointer;

}

.addDataSectionCancel{
color: white;
background-color: #db4437;
}

.addDataSectionSubmit:hover{
    background-color: #d86d0f;
}

.addDataSectionCancel:hover {
    color: white;
    background-color: #a82014;
}

.analyticalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid white;
    height: 200px;
    border-radius: 6px;
}

.analyticalBox input{
    width: 260px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    height: 25px;
    margin: 10px;
}

.analyticalBox button{
   width: 270px;
   border: 1px solid white;
   background-color: #a9a9a9;
   height: 35px;
   margin: 10px;
   cursor: pointer;
   border-radius: 6px;
    color: white;
}

.bodyUnderline {
    text-decoration: none;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #787878;
}

.disabled:hover{
    background-color: #787878;
}

.advanceSearchButton{
     width: 115px;
     border: 1px solid black;
     background-color: white;
     height: 39px;
     margin: 10px;
     cursor: pointer;
     border-radius: 6px;
}

.advanceSearchInput{
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 6px 0;
    width: 245px;
}

.advanceSearchButton:hover{
    background-color: rgb(238, 238, 238);
}

.editUpperdiv{
    display: flex;
}

.edit-popup-oc{
     padding: 10px;
     border: 1px solid black;
     border-radius: 4px;
     margin: 6px 0;
     width: 145px;
     margin: 0 10px;
}

.edit-popup-distch{
     padding: 10px;
     border: 1px solid black;
     border-radius: 4px;
     margin: 6px 0;
    width: 331px;
    margin: 0 10px;
}

.editButtons{
     padding: 10px;
     border: 1px solid black;
     border-radius: 4px;
     margin: 6px 0;
     width: 166px;
     margin: 10px 10px;
}

.edit-popup-div{
     margin: 0 10px;
}

.edit-popup-box{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.edit-popup-h2 {
    margin: 10px 10px;
}